@model IEnumerable<LMSProject.DATA.EF.Lesson>


    <h2 class="templatemo_hometop_title">Lessons</h2>

    <p>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>
<div class="templatemo_home_top_left shadow">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Introduction)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.VideoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfFilename)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.IsActive)*@
                Completion Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduction)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.VideoURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PdfFilename)
                    <a href="@Url.Content("~/Content/images/pdf/" + @item.PdfFilename)" target="_blank">Click to View Document</a>
                </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.IsActive)*@
                    @if (item.hasCompleted == true)
                    {
                        <span>Completed</span>
                    }
                    else
                    {
                        <span>Incomplete</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cours.CourseName)
                </td>
                <td>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.LessonId }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.LessonId }) @:|
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.LessonId })
                </td>
            </tr>
        }

    </table>
</div>
