@model IEnumerable<LMSProject.DATA.EF.Course>


    <h2 class="templatemo_hometop_title">Courses</h2>

    <p>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>
<div class="templatemo_home_top_left shadow">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.IsActive)*@
                Completion Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Courses", new { id = item.CourseId }, null)" >@Html.DisplayFor(modelItem => item.CourseName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IsActive)*@
                    @if (item.hasCompleted == true)
                    {
                        <span>Completed</span>
                    }
                    else
                    {
                        <span>Incomplete</span>
                    }
                </td>
                <td>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }) @:|
                    }

                    @Html.ActionLink("Details", "Details", new { id = item.CourseId })
                </td>
            </tr>
        }

    </table>
</div>
